<!doctype html>
<html lang="en">
<head>
  <% include ../../../partials/main/enu/head.ejs %>
  <title>Code Smart</title>
</head>

<header>
  <% include ../../../partials/main/enu/main-header.ejs %>
</header>

<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron front_page">
    <div class="container">
      <h1 class="display-3"><br />About Us</h1>
      <br />
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <br />
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <br />
        <p class="front_page_desc"><b>Greetings!</b> <br /><br /> If you want to go fast, go alone, if you want to go far then you must go together.<br /><br /> We are a team of enthusiastic computer professionals working in the information technology (IT) and computing sector for over a decade now. We want to be a forum where we teach you the basics of computers and information technology. What we would like to focus on, is the 'why' of all that you see in the computing world. We believe this is the only way that we can make technical content and for that matter any subject easier to understand for you and make it a fruitful learning experience. And last but not the least, we believe that education should be free. So whatever you learn on our website is not going to cost you anything. <br /><br /></p>


      <div class="col-md-1">
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

  <% include ../../../partials/main/enu/tail.ejs %>
  <% include ../../../partials/main/enu/main-footer.ejs %>
