<!doctype html>
<html lang="en">
<head>
  <% include ../../../partials/main/enu/head.ejs %>
  <title>Code Smart</title>
</head>

<header>
  <% include ../../../partials/main/enu/main-header.ejs %>
</header>

<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron front_page">
    <div class="container">
      <h1 class="display-3"><br />Contact Us</h1>
      <br />
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <br />
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <br />
        <p class="front_page_desc">If you would like to get in touch with us for anything at all, then you can reach us at: <br /><br /></p>
        <p class="front_page_desc"><span class="fa fa-envelope" aria-hidden="true"></span>      admin@trznt.com <br />
        <span class="fa fa-phone" aria-hidden="true"></span>     (+91) 80 2854 1255<br /><br /><br /></p>


      <div class="col-md-1">
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

  <% include ../../../partials/main/enu/tail.ejs %>
  <% include ../../../partials/main/enu/main-footer.ejs %>
