<!doctype html>
<html lang="en">
<head>
  <% include ../../../partials/main/enu/head.ejs %>
  <title>Code Smart</title>
</head>

<header>
  <% include ../../../partials/main/enu/main-header.ejs %>
</header>

<body>
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <br />
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <br /><br />

          <h2>The Corporate Conundrum</h2><br /><br />
          <p class="front_page_desc">The situation that you do not want to be in is one where you want to get to the 10th floor of a building and you build a rocket to get you there. We all know that building a rocket is definitely a bad solution for this particular use case. And you might think to yourself - who would do that ?! This may sound strange, but such decisions are common place in orgnizations that have grown too large. </p>
          <br /><p class="front_page_desc">These orgnizations have a million different processes and compliance measures to adhere too.</p>
           <br /> <p class="front_page_desc"> So by the time you have the approval from the Enterprise Architect, the Application Arcitect, the Datacenter Strategist, the Software Strategist and finally Procurement - the business opportunity has passed. Your potential customers are now going elsewhere.</p>
           <br /> <p class="front_page_desc"> Once you have been through the grind and gotten your fingers burnt- the next time, you decide... </p>
            <br />
          <i style="font-size:30px;align:center">
              "Let's use software product XYZ to build out this new requirement. We already have enough an more licenses - and I don't need to seek anymore approvals."
          </i>
            <br />  <br />
          <br /><p class="front_page_desc">Now it's only a matter of time before you regret your current decision. You suddenly realise that you are stuck at a dead end job. Time to move on! Seriously! Such oragnizations are just going to go defunct pretty soon.</p>
            <br /><br />
          </p>
        </div>
        <div class="col-md-1">
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>
  </body>
  <% include ../../../partials/main/enu/tail.ejs %>
  <% include ../../../partials/main/enu/main-footer.ejs %>
