<!doctype html>
<html lang="en">
<head>
  <% include ../../../partials/main/enu/head.ejs %>
  <title>Code Smart</title>
</head>

<header>
  <% include ../../../partials/main/enu/main-header.ejs %>
</header>

<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron front_page">
    <div class="container">
      <h1 class="display-3"><br />Coding is easy.</h1>
      <p>Anyone can do it. <br />Building your app is never the hard part. <br />The real question is whether you are building the right app, the right way...</p>
      <p><a class="btn btn-primary btn-lg my-jumbotron-btn" href="/embolden" role="button">Read more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <br />
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <br />
        <h2>Hello world!</h2>(Pun intended, 100%)<br /><br />
        <p class="front_page_desc">If you are one of the first millenials to walk the earth then you may know that we have come long way since 80386's with 4 MB of RAM and 24 MB Hard Drives on which even a game like doom would 'frame'. With the onset of the internet and the explosion of the IT revolution, there's so much about the computer that sort of gets lost in the mix. It's easy to lose sight of the fundamentals and just code away into the oblivion. <br /><br />
          <b>trznt</b> is intended to be a simple set of tutorials for the programmer of today. It doesn't matter if you are a beginner or an expert, hobbyist or the enterprise architect - we don't judge and we believe there are no stupid questions. <br /><br />
          If you like our material - don't forget to share our website on your favourite social media platform! <br /><br />Cheers! </p>
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
</body>
  <% include ../../../partials/main/enu/tail.ejs %>
  <% include ../../../partials/main/enu/main-footer.ejs %>
