<!doctype html>
<html lang="en">
<head>
  <% include ../../../partials/main/enu/head.ejs %>
  <title>Code Smart</title>
</head>

<header>
  <% include ../../../partials/main/enu/main-header.ejs %>
</header>

<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron front_page">
    <div class="container">
      <h1 class="display-3"><br />Privacy Policy</h1>
      <p>
Last Updated: 08-Jan-2019
      </p><br />
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <br />
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <br />
        <h3>Information we recevie of collect from you</h3><br />
        <p class="front_page_desc"><b>Email Address:</b> The only information that we are able to collect from you presently is your email address. This information is collected when you subscribe to our news letter. Using you email address we are able to set you information on new articles that is published on the website. Please note that we do not sell your email address information to anyone else. When you un-subscribe from our news letter we delete your email permanently from all of TRZNT's systems and databases.</p>
        <p class="front_page_desc"><b>IP Address:</b> Our webserver logs IP addresses of people visiting the website. Do note that this information is purely being recorded to understand the number of unique visitors visiting the website. We do not use this information in correlation with your email address to identify you in any way. We also not not sell this IP information to any other third parties parties.</p>
        <p class="front_page_desc"><b>Apart from this we do not store any other information about you.</b></p>
          <br /><br />
        <h3>Links to Third Party Websites</h3><br />
        <p class="front_page_desc">We have links to third party websites in some of our articles. This is to just to make it easier for you to access the websties of third party products or tools that we write about on our website. Do note that these third party websites are governed by their own Terms & Conditions and Privacy Policies. We are not responsible for the content appearing on those websites and are not respoinsible in any way for any issues or concers you have making use of those tools. You will have to address these issues or concerns directly with the third party website. Therefore, we recommend that you read the terms and conditions as well as the privacy policy of these websites before using them. </p><br /><br />
      <h3>Cookie Policy</h3><br />
        <p class="front_page_desc">We use cookies on our trznt.com. By using the service, you consent to the use of cookies from our website. </p>
        <p class="front_page_desc">Our cookie policy explains what cookies are, how we use cookies and how third-parties we may partner with may use cookies on the service. It also explains the options that you have with cookies on this website. </p>
        <p class="front_page_desc">Cookies are small pieces of text that is stored in your browser when you visit a website. A cookie file is stored in your web browser and helps the service or a third-party to recognize who are and make your visit tot he service or the site useful. </p>
        <p class="front_page_desc"><b>How trznt.com uses cookies:</b> We do not store any cookies on your browser at the current time. So you do not have any way to identify you with help of a cookie. However please note the cookie policy may change in the future to further enhance your experience of using the site. </p>
        <p class="front_page_desc"><b>Third Party Cookies:</b> Third party cookies are present on trznt.com. They are from our trusted partners. They use their cookies to understand information about your visit so that they can present adverts that you may be interested in. At this time we only have one third party cookie partner, which is google. Please do visit the Privacy page in the future to learn about any other companies we start partnering with. </p>
        <h4>How do stop trznt.com from making use of cookies?</h4>
        <p class="front_page_desc">In case do not want to have cookie information used while visiting our website, then you can turn them off on the website. However do note that these setting changes will not just stop cookies working on trznt.com, but can also impact cookie related functionaltiy on other websites as well. You can visit the help section of your browser menu bar to determine how to block cookies from websites.
        <br /><br />
      <h3>Privacy Policy Updates</h3><br />
      <p class="front_page_desc">Please note that this policies described on this page may change as and when we make changes to the functionality of our services. It will also change in case we partner up with other companies. Therefore it is always a good to visit this page whenever you visit our website to learm mroe about our policy updates. In case you have any queries regarding these policies please reach out to us at <a href="mailto:admin@trznt.com">admin@trznt.com</a>.</p><br />
      </div>
      <div class="col-md-1">
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

  <% include ../../../partials/main/enu/tail.ejs %>
  <% include ../../../partials/main/enu/main-footer.ejs %>
