<!doctype html>
<html lang="en">
<head>
  <% include ../../../partials/main/enu/head.ejs %>
  <title>Code Smart</title>
</head>

<header>
  <% include ../../../partials/main/enu/main-header.ejs %>
</header>

<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron front_page">
    <div class="container">
      <h1 class="display-3"><br />Terms and Conditions</h1>
      <p>
Last Updated: 08-Jan-2019
      </p><br />
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <br />
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <br />
        <p class="front_page_desc"><b>1. Introduction</b>. These terms and conditions ("Terms") govern the use of the TRZNT website or any part of it ("the Site"). TRZNT may modify the Terms from time to time and you are advised to keep up to date with any changes by regularly reviewing the Terms. By using the Site you agree to be bound by the Terms listed on this page.</p>
        <p class="front_page_desc"><b>2. Use of the Site</b>. This site is intended to be used only by persons older than the age of 12. The site may contain links to other third party sites. Please note that the third part. TRZNT may modify the Terms from time to time and you are advised to keep up to date with any changes by regularly reviewing the Terms.</p>
        <p class="front_page_desc"><b>3. Registration</b>. Presently the site does not use any registration mechanism and all pages are accessible. In the future some pages may be restricted via a registration process.</p>
        <p class="front_page_desc"><b>4. Availability</b>. TRZNT will always try to ensure that the site is always up and running. However does not guarantee 100% uptime. In case a fault happens to the site we will look to resolve this as quick as possible.</p>
        <p class="front_page_desc"><b>5. Content and Copyright</b>. Content provided by TRZNT including information, data, material, text, designs, graphics, pictures, video, photographs, applications, software, audio and other files, and their selection and presentation, is protected by copyright. Republication or redistribution of the content, including by framing or similar means, is prohibited. </p>
        <p class="front_page_desc"><b>6. Third Party Content</b>. Links to  third party sites from TRZNT including advertisers and sponsors are responsible for ensuring that material submitted for inclusion on the Site complies with relevant laws and codes of practice. TRZNT is not responsible for any error or inaccuracy in advertising and sponsorship material.</p>
        <p class="front_page_desc"><b>7. Customer Obligations</b>
        You must not permit or make any attempt to disassemble, deconstruct, break down, hack or otherwise interfere with the Site.
        You must not use the Site:
        (a) to gain unauthorised access to other computing systems;
        (b) in any way that may damage, disable, overload or affect the operation of the Site;
        (c) to solicit participation in public discussion, debate, comment or activity outside the Site;
        (d) to provide false or misleading information about yourself or your business, or create a false identity;
        General
        (e) in contravention of any licence, code of practice, instructions or guidelines issued by a regulatory authority, third party's rights, or any of TRZNT's guidance or policies;
        (f) fraudulently or in connection with a criminal offence or in any way that is unlawful or in breach of any legislation and you must make sure that this does not happen; or
        (g) to send, communicate, knowingly receive, upload or download any material or content that is offensive, abusive, indecent, defamatory, libellous, obscene, menacing, or that causes annoyance, inconvenience, needless anxiety or that is intended to deceive.</p>
        <p class="front_page_desc"><b>8. TRZNT's Liability</b>. TRZNT is not liable to accurate functioning of the methods, tools, software or content mentioned on the site. This site is intended to be used for educational purposes. All responsibility of implenting solutions mentioned on the site or steps provided is entierly owned by you the user. TRZNT is not liable for loss or damage whether direct, indirect or consequential howsoever arising under use of this site: loss of profit, loss of revenue, loss of anticipated savings, loss of opportunity, loss of business, wasted expenditure, loss from business interruption, loss or corruption or destruction of data, loss of contracts, loss of life, liability to third parties, pecuniary losses arising from goodwill, or loss of or damage to goodwill; TRZNT is not responsible for any of this. The responsibility is 100% yours.
        <p class="front_page_desc"><b>9. Confidentiality</b>. You and TRZNT will keep in confidence any information of a confidential nature obtained as a result of the use of the Site and will not disclose that information to any person. </p>
        <p class="front_page_desc"><b>10. Data Protection</b>. TRZNT will comply with its obligations under applicable data protection legislation and maintain all relevant registrations and notifications, for the purposes of operating the Site. </p>
        <p class="front_page_desc"><b>11. No Warranties</b>. Unless otherwise expressly specified in these Terms or separate terms and conditions, the material on the Site is provided "as is", without any conditions, warranties or other terms of any kind.  </p>
          <br /><br />

      <div class="col-md-1">
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

  <% include ../../../partials/main/enu/tail.ejs %>
  <% include ../../../partials/main/enu/main-footer.ejs %>
