<div class="col-md-2 d-none d-md-block sidebar">
  <div class="py-2 sticky-top flex-grow-1"><br /><br />
    <div class="sidebar-sticky">
      <a href="/infra" class="nav-link heading">Introduction</a>
      <a href="/infra/virtualization" class="nav-link sub-heading">Virtualization</a>
      <a href="/infra/set_up_aws" class="nav-link sub-heading">Setup your own server</a>
      <a href="/infra/containerization" class="nav-link heading">Containerization</a>
      <a href="/infra/containerization/docker_install" class="nav-link sub-heading">Docker Installation</a>
    </div>
  </div>
</div>
