.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.my-nav-search {
  border-color:  #ffffff;
  color: #ffffff;
}

.my-nav-search:hover {
  color:  #ffffff;
  border-color:  #ffffff;
  background-color: #e0732f;
}

.navbar {
  background-color: #1c5c8a;
}


.my-dropdown-menu {
  min-width: 18rem;
}


.front_page {
  background-image: url('/images/back_computer.jpeg');
  color: #ffffff;
  border-radius: 0rem;
}


.front_page_desc {
  font-size: 20px;
}

.my-jumbotron-btn {
  background-color: transparent;
  border-color:  #1c5c8a;
}

.my-jumbotron-btn:hover {
  background-color: #1c5c8a;
}

.loader {
    position: relative;
    left: 40%;
    top: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
