<!doctype html>
<html lang="en">
<head>
  <% include ../../../partials/infra/enu/head.ejs %>
  <title>Coding Introduction</title>
</head>

<header>
  <% include ../../../partials/infra/enu/main-header.ejs %>
</header>

<body>
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron front_page">
    <div class="container"><br /><br /><br /><br /><br />
      <h1 class="display-1">Infrastructure</h1>
    </div>
  </div>

  <div class="container-fluid">
    <!-- Example row of columns -->
    <br />
    <div class="row">
      <% include ../../../partials/infra/enu/sidenav.ejs %>
      <div class="col">
        <br />
        <h2>Introduction<br /><br />
        <p class="front_page_desc"><br />Servers are computers that are much more powerful than the average desktop or laptop computer. Instead of just one CPU, they generally come with many more CPUs and more RAM and have a much higher processing power. All websites run on servers - this is how they are able to have millions of people access them everyday. Servers are also used to develop CGI for special effects in movies. A lot of computer power is needed to generate CGI. Servers set up together in a specific way is also, what forms the <b>cloud</b>.<br /><br /> Many times, servers are linked up together to create super computers. A super computer makes use of something called distributed computing to have your software run on not just one server but hundreds or even thousands of servers. Supercomputers are great at crunching massive amounts of data and coming up with all kinds of insight and analysis. They are used to predict weather pattenrs, research quantum mechanics, climate research, and build large mathematical models. Supercomputers are also used to build Aritificial Intelligence (AI) systems.<br /> </p>

        <p class="front_page_desc">
          Computer infrastructure mainly deals with servers, storage, networking switiches and routers. It's a vast field and takes years to master. About 40 years ago, only the largest companies of the world and government research organizations had access to computing infrastrcuture. These systems costed millions! You also needed a large team of highly skilled engineers to run and maintain your servers. <p>

          </p><p class="front_page_desc">Over the decades that followed, there has been a lot of advancement in CPU technology and manufacurting that has made servers much cheaper to buy and set up. Today, anyone can rent a server for as little as <b>$10</b> a month.  </p>

        <p class="front_page_desc">So if you have a great idea and want to set up a website around you business, it's easy to have your own server set up.</p><br />

        </div>
      <div class="col-md-2">
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
</body>
  <% include ../../../partials/infra/enu/tail.ejs %>
  <% include ../../../partials/infra/enu/main-footer.ejs %>
