<div class="col-md-2 d-none d-md-block sidebar">
  <div class="py-2 sticky-top flex-grow-1"><br /><br />
    <div class="sidebar-sticky">
      <a href="/algo" class="nav-link heading">Getting Started</a>
      <a href="/algo" class="nav-link sub-heading">Introduction</a>
      <a href="/algo/sorting" class="nav-link heading">Sorting</a>
      <a href="/algo/bubblesorting" class="nav-link sub-heading">Bubble Sorting</a>
    </div>
  </div>
</div>
