<div class="col-md-2 d-none d-md-block sidebar">
  <div class="py-2 sticky-top flex-grow-1"><br /><br />
    <div class="sidebar-sticky">
      <a href="/code" class="nav-link heading">Introduction</a>
      <a href="/code/#low" class="nav-link sub-heading">Low Level Programming</a>
      <a href="/code/#high" class="nav-link sub-heading">High Level Programming</a>
      <a href="/code/c" class="nav-link heading">C Programming</a>
      <a href="/code/c/hello_world" class="nav-link sub-heading">Hello World</a>
      <a href="/code/c/computation" class="nav-link sub-heading">Computation</a>
    </div>
  </div>
</div>
