<div class="footer-bottom">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p style="float:left;font-size:14px;margin-top:20px"><a class="sitemap" href="/sitemap">Sitemap</a></p>
    <p style="float:right;font-size:14px;margin-top:20px"> Copyright © trznt.com 2019 </p>
  </div>
    </div>
</div>
</div>
</body>
</html>
