<div class="col-md-2 d-none d-md-block sidebar">
  <div class="py-2 sticky-top flex-grow-1"><br /><br />
    <div class="sidebar-sticky">
      <a href="/db" class="nav-link heading">Introduction</a>
      <a href="/db/#RDBMS" class="nav-link sub-heading">Relational Databases</a>
      <a href="/db/#DOC" class="nav-link sub-heading">Document Databases</a>
      <a href="/db/#GRAPH" class="nav-link sub-heading">Graph Databases</a>
      <a href="/db/mysql" class="nav-link heading">MySQL</a>
      <a href="/db/mysql/#installation" class="nav-link sub-heading">MySQL Installation</a>
    </div>
  </div>
</div>
