
  <!doctype html>
  <html lang="en">
  <head>
    <% include ../../../partials/algo/enu/head.ejs %>
    <title>Sorting Algorithms</title>
  </head>

  <header>
    <% include ../../../partials/algo/enu/main-header.ejs %>
  </header>

  <body>
  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron front_page">
      <div class="container"><br /><br /><br /><br /><br />
        <h1 class="display-1">Algorithms</h1>
      </div>
    </div>

    <div class="container-fluid">
      <!-- Example row of columns -->
      <br />
      <div class="row">
        <% include ../../../partials/algo/enu/sidenav.ejs %>
        <div class="col">
          <br />
          <h2>Insertion Sort</h2><br /><br />
          <p class="front_page_desc"><br />Insertion sort is a great algorithm for sorting small lists of arrays. Insertion sort is quite good for sorting arrays that are already partially sorted. You may now wonder, "So do I need to keep checking if each small list of items I come across is partially sorted, and if so, use insertion sort ?". <br /><br /> Well in life, we generally don't come across things fully sorted, let's say A to Z - which can be called a best case scenario, unless you are in a library or reading the index page of a large book, or the attendence register at school. The worst case scenario is where the list is sorted but in the revsrse direction [Z-A]. If you feed a list sorted in the reverse direction into a bubble sort algorithm, it would have to do a whole lot of work to sort it [A-Z]. In any case probability dictates that the chances of finding a list out there in the wild which is sorted in the reverse direction is generally quite low. You can always expect things to either sorted or partially sorted. </p><br />
          <p class="front_page_desc">
            Let's consider a shelf in your home where you have kept your favourite books!
          </p>
          <br /><br /><br />
          <div class="container fluid">
            <div class="row">
              <ul class="display_books">
              <li ><div class="book">Pride and Prejudice</div></li>
              <li ><div class="book">Catch-22</div></li>
              <li ><div class="book">Art of War</div></li>
              <li ><div class="book">Fahrenheit 451</div></li>
              <li ><div class="book">Moby Dick</div></li>
              <li ><div class="book">Dune</div></li>
              <li ><div class="book">Game of Thrones</div></li>
              <li ><div class="book">Metro 2033</div></li>
            </ul>
            </div>
         </div><br /><br /><br />
           <p class="front_page_desc">
              We want to sort these books in alphabetic order from left to right. How would you go about arraning the books? Here's one way - let's move all the books to the left and make space in the right side. Let's call the left side of the shelf, the unsorted side and the right side of the shelf which is presently empty will be the sorted side.<br /><br /><br />
              <div class="container fluid">
                <div class="row">
                  <ul class="display_books">
                  <li ><div class="book empty"></div></li>
                  <li ><div class="book empty"></div></li>
                  <li ><div class="book unsorted">Pride and Prejudice</div></li>
                  <li ><div class="book unsorted">Catch-22</div></li>
                  <li ><div class="book unsorted">Art of War</div></li>
                  <li ><div class="book unsorted">Fahrenheit 451</div></li>
                  <li ><div class="book unsorted">Moby Dick</div></li>
                  <li ><div class="book unsorted">Dune</div></li>
                  <li ><div class="book unsorted">Game of Thrones</div></li>
                  <li ><div class="book unsorted">Metro 2033</div></li>
                </ul>
                </div>
             </div><br /><br /><br /><br />
             <p class="front_page_desc">
               Let's go over the steps that we will use to sort the books:
             </p>
              <ol class="front_page_desc">
                <li>
                  We will take the first book and keep it in the sorted side. In this case it is the book named "Pride and Prejudice". <br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>

                      <li ><div class="book unsorted">Catch-22</div></li>
                      <li ><div class="book unsorted">Art of War</div></li>
                      <li ><div class="book unsorted">Fahrenheit 451</div></li>
                      <li ><div class="book unsorted">Moby Dick</div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                  We take the next book and add it to the sorted part of the shelf according to the alphabet. The next book is  "Catch-22". Note - you may need to slide books in the sorted section to the left and right to place the next book in it's right place. In this case we will move "Pride and Prejudice" a little to the left to make space for "Catch-22" as C comes before P in the alphabet.<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book spot"></div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Catch-22</div></li>
                      <li ><div class="book unsorted">Art of War</div></li>
                      <li ><div class="book unsorted">Fahrenheit 451</div></li>
                      <li ><div class="book unsorted">Moby Dick</div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                  Now we will take the "Catch-22" book and keep it in the spot we opened up.<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Art of War</div></li>
                      <li ><div class="book unsorted">Fahrenheit 451</div></li>
                      <li ><div class="book unsorted">Moby Dick</div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                  The next book is "Art of War". To place this in the sorted list, we will need to move both "Pride and Prejudice" and "Catch-22" to the left to make space.<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book spot"></div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Art of War</div></li>
                      <li ><div class="book unsorted">Fahrenheit 451</div></li>
                      <li ><div class="book unsorted">Moby Dick</div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                  We place "Art of War" in it's place.<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Art of War</div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Fahrenheit 451</div></li>
                      <li ><div class="book unsorted">Moby Dick</div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                The next book is "Fahrenheit 451". To place this in the sorted section, we will need to move only "Pride and Prejudice" once to the left to make space.<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Art of War</div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book spot"></div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Fahrenheit 451</div></li>
                      <li ><div class="book unsorted">Moby Dick</div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                Let's place "Fahrenheit 451" in it's place.<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Art of War</div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Fahrenheit 451</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Moby Dick</div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                We will continue making up space in the sorted section until all bookes are moved from the unsorted section to the sorted section. Let's see how each book get's placed. Next is "Moby Dick"<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Art of War</div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Fahrenheit 451</div></li>
                      <li ><div class="book sorted">Moby Dick</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Dune</div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                Next is "Dune"<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Art of War</div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Dune</div></li>
                      <li ><div class="book sorted">Fahrenheit 451</div></li>
                      <li ><div class="book sorted">Moby Dick</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Game of Thrones</div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                Next is "Game of Thornes"<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Art of War</div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Dune</div></li>
                      <li ><div class="book sorted">Fahrenheit 451</div></li>
                      <li ><div class="book sorted">Game of Thrones</div></li>
                      <li ><div class="book sorted">Moby Dick</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book unsorted">Metro 2033</div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
                <li>
                Finally "Metro 2033"<br /><br /><br />
                  <div class="container fluid">
                    <div class="row">
                      <ul class="display_books">
                      <li ><div class="book sorted">Art of War</div></li>
                      <li ><div class="book sorted">Catch-22</div></li>
                      <li ><div class="book sorted">Dune</div></li>
                      <li ><div class="book sorted">Fahrenheit 451</div></li>
                      <li ><div class="book sorted">Game of Thrones</div></li>
                      <li ><div class="book sorted">Metro 2033</div></li>
                      <li ><div class="book sorted">Moby Dick</div></li>
                      <li ><div class="book sorted">Pride and Prejudice</div></li>
                      <li ><div class="book empty"></div></li>
                      <li ><div class="book empty"></div></li>
                    </ul>
                    </div>
                 </div><br /><br /><br /><br />
                </li>
              </ol><br />
            </p>

 <p class="front_page_desc">
  That's it - we have completed successfully sorting the shelf using the insertion sort method. Quite intuitive isn't it ?
 </p><br />
 <p class="front_page_desc">
  Let's write down the algorithm of what we just did:

  <ol class="front_page_desc">
    <li>
      Mark the first item as sorted.
    </li>
    <li>
      Pick the next item and check with the last element of the sorted list. (If there is no next item. we are done with sorting the list.)
    </li>
    <li>
      If the picked item is greater than or equal the current element, leave it in it's place and go to the step [2];
    </li>
    <li>
      If the picked item is less than the current element, move all elements greater that the picked element being checked, starting from the end of the sorted list one space to the left until a spot is opened up to put the picked element in. Once done go to step [2];
    </li>


  </ol>

 </p><br />
         </div>
        <div class="col-md-2">
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

    <% include ../../../partials/algo/enu/tail.ejs %>
    <% include ../../../partials/algo/enu/main-footer.ejs %>
